body {
  background-image: url("./images/marvel-1641554_1920.jpg");
  font-family: "Bangers", cursive;
  background-repeat: repeat-x;
  color: whitesmoke;
  width: 100%;
  overflow-y: scroll;
  z-index: -1;
}

footer {
  background-color: red;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.app {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.app__comic-title {
  text-align: center;
}

.comic__display {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  z-index: +1;
}

.app__comic-image-url {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 80%;
  z-index: +3;
}

.app__comic-title {
  background-color: red;
  color: whitesmoke;
  opacity: 0.8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: xx-large;
}

.app__comic-issue {
  display: flex;
  justify-content: center;
  background-color: red;
  color: whitesmoke;
  opacity: 0.8;
}

.nav__section {
  background-color: red;
  color: whitesmoke;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  display: flex;
  justify-content: space-around;
  z-index: 0;
}

.nav__section__api-link {
  text-decoration: none;
  color: whitesmoke;
}

.nav__section__items {
  width: 20rem;
  height: 2rem;
  margin: 0;
  text-align: center;
}

.nav__section__items:hover {
  background-color: gold;
  color: red;
  cursor: crosshair;
}
